<header>
    <h3>Self Publishing Course In Tamil</h3>
</header>

<div class="login">
    <div class="" id="wrapper">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4 ">              
                <div class="account-wall">
                    <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                        alt="">
                        <form class="form-signin" #formData='ngForm' (ngSubmit)="onSubmit(formData)">
                                <p class="bg-danger" *ngIf='error'>{{error}}</p>
                                <input class="form-control" type="text" placeholder="Email address.." (ngModel)="email" name="email"  required>
                                <input class="form-control" type="password" placeholder="Password" (ngModel)="password" name="password"  required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!formData.valid">Log in</button>
                    <div class="contact">
                        <div><b><u>Enroll in Course Contact</u></b></div>
                        <div><b>Mobile:</b>&nbsp; 82483 69036</div>
                        <div><b>Email:</b>&nbsp; magesh@dreamapp.com</div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>