<div class="overall">
  <div class="container">
    <div class="banner">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="baner-items">
            <h1 class="heading1">Self Publishing<br>
              Course in Tamil
            </h1>
            <h3 class="heading3">Your Step by Step Guide to Making</h3>
            <h2 class="heading2">Your First Money Online</h2>
            <h3 class="heading3">With Self Publishing</h3>
            <button type="button" class="btn btn-primary log-btn" [routerLink]="['login']">Login Course</button>
          </div>
        </div>
      </div>
    </div>
    <div class="youtube">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/l4cCGfcb2B4" frameborder="0" gesture="media" allowfullscreen></iframe>
          </div>
        </div>
    </div>
    <div class="loginimage">
      <img src="../../assets/images/logo.png" class="img-responsive">
    </div>
    <div class="amount">
      <h1>Get All This For Only 2500&#8377;</h1>
    </div>
    <div class="coursedetials">
      <div class="row">
        <div class="coursehead">
          <h1>Here is what this will give you everything you need to know!</h1>
        </div><hr>
        <div class="course-lessons">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="cou-item"><b>Lesson 1:</b>&nbsp; Coming Up With Ideas For Niches</div>
            <div class="cou-item"><b>Lesson 2:</b>&nbsp; Developing Keywords For Your Niche</div>
            <div class="cou-item"><b>Lesson 3:</b>&nbsp; Determining Which Keywords are The Most Profitable</div> 
            <div class="cou-item"><b>Lesson 4:</b>&nbsp; How To Speed Up Keyword Research</div>
            <div class="cou-item"><b>Lesson 5:</b>&nbsp; The #1 Reason Most Publishers Books Fail!</div>
            <div class="cou-item"><b>Lesson 6:</b>&nbsp; Determining The Best Length and Cost For Your Book</div>
            <div class="cou-item"><b>Lesson 7:</b>&nbsp; Creating Your Title And Subtitle </div>
            <div class="cou-item"><b>Lesson 8:</b>&nbsp; How To Find The Best Graphic Designers For Your Covers</div>                      
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="cou-item"><b>Lesson 9:</b>&nbsp; Publishing Your Book on KDP And Writing Descriptions That SELL</div>
              <div class="cou-item"><b>Lesson 10:</b>&nbsp; Setting Up Your Createspace Account The Proper Way</div>
              <div class="cou-item"><b>Lesson 11:</b>&nbsp; Maximizing Your Profits On Paperbacks</div>
              <div class="cou-item"><b>Lesson 12:</b>&nbsp; The Secret To Finding The BEST Virtual Assistants</div>
              <div class="cou-item"><b>Lesson 13:</b>&nbsp; Increasing Your Books Profits Long Term</div>
              <div class="cou-item"><b>Lesson 14:</b>&nbsp; Exclusively For Members ONLY!</div>
          </div>
        </div>
      </div>
    </div>
    <div class="paperback">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="pay-head">November 2017 Paperback Sales</h1>
        </div>
        <div class="paperimages">
            <img src="../../assets/images/non.png">
          </div>
      </div>
      <div class="paperback">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="pay-head">Ebook Sales From 5 Books</h1>
            </div>
            <div class="paperimages">
                <img src="../../assets/images/sales.jpg">
              </div>
          </div>
    </div>
    <div class="amount">
        <h1 style="text-decoration:underline;">For Enrolling in Course</h1>
        <div class="course-lessons">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="cou-item" style="text-align:center;"><b>Email:</b>&nbsp; magesh@dreamapp.com</div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="cou-item" style="text-align:center;"><b>Mobile:</b>&nbsp; 82483 69036</div>
            </div>
      </div>
  </div>
</div>