<!--<div>
    <header >
      <button (click)="logout()" >Logout</button>
    </header>
    <div  >
      <h2>Hey {{ name.auth.displayName }}!</h2>

      
    </div>
    <div *ngFor="let item of items | async" (click)="goToDetailPage(album)">
        <div>
          <h3> {{item | json}}</h3>
        </div>
      </div>
    
</div>-->
<header>
  <button (click)="logout()" >Logout</button>
</header>
<div >
<div class="bannervideo" fxLayout="column" fxLayoutAlign="center center" *ngIf="!pass">
  <video   width="640px" height = "360px" controls>
    <source [src]="data[0].videourl" type="video/mp4">
    <source src="mov_bbb.ogg" type="video/ogg">
    Your browser does not support HTML5 video.
  </video>
  <h3>{{data[0].description}}</h3>
</div>
<div class="bannervideo" fxLayout="column" fxLayoutAlign="center center" *ngIf="pass">
    <video   width="640px" height = "360px" controls>
      <source [src]="pass.videourl" type="video/mp4">
      <source src="mov_bbb.ogg" type="video/ogg">
      Your browser does not support HTML5 video.
    </video>
    <h3>{{pass.description}}</h3>
</div>  
<div class="thumbimages" fxLayout="column">
  <div class="thumbitem" fxLayout="column" fxLayoutAlign="space-around none" *ngFor="let source of data">
    <h3>{{source.chapter}}</h3>
    <a (click)="linkview(source)">
      <video  width="210" height = "110px">
        <source [src]="source.videourl" type="video/mp4">
      </video>
    </a>
    <p class="thumb_description">{{source.description}}</p>
  </div>
</div>