
<header>
    <div class="container">
      
      
      
        <h3>Self Publishing Course In Tamil</h3>
        <button (click)="logout()" >Logout</button>
    </div>
 
</header>

<div class="container-fluid" id="videogallery">

<div class="container" >
    <div class="bannervideo"  *ngIf="firstdata">
        <video   width="640px" height = "360px" [src] = "firstdata.videourl"  type="video/mp4" controls></video>
        <h3><span>{{firstdata.chapter}} :</span>  {{firstdata.description}}</h3>
      </div>  
      <div class="thumbimages">
        
        <div class="row">
            <div class="thumbitem"  >             
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 padding10"  *ngFor="let item of items | async">
                     <div class="wrapper" *ngIf="item.download" >  
                        <a [href]="item.videourl">                   
                        
                          <img src="../../assets/images/download.png" alt="">
                          <h3>{{item.chapter}}</h3>
                          <p class="thumb_description">{{item.description}}</p>
                        </a>              
                    </div>
                  <div class="wrapper" *ngIf="!item.download" (click)="linkview(item)">                     
                      
                        <video >
                          <source [src]="item.videourl" type="video/mp4">
                        </video>
                        <h3>{{item.chapter}}</h3>
                        <p class="thumb_description">{{item.description}}</p>
                                         
                  </div>
                   
                  <div class="clearfix">
                      
                      </div>
                </div>
                
                
              </div>
          
          
          
        </div>
        
        
      </div>
  
</div>



  
</div>

